$light-text: #EDEDED;
$dark-text: #6f6f6f;
$light-accent: #f3d5d1;
$dark-accent: #df7975;
$primary: #8a854c;
$secondary: #C5CCA2;
$light-primary: #E8EADC;
$text-bg: rgba(255,255,255, 0.8);
$spinner-size: 2rem;
$animation-speed: 1.2s;
$heavy-card-shadow: 0 0 11px rgba(33,33,33,.6);


@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin popup {
  z-index: 5;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  bottom: 0;
  right: 0;
}

@mixin error {
  transition: height .7s;
  position: absolute;
  width: 100vw;
  background: $light-accent;
  color: $primary;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
