@import '../../Utilities/_Variables.scss';

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin: 0 100px;
  background-color: rgba(255,255,255, 0.6);


  .filter-options {
    margin: 0 10px;
    font-size: 18px;
    color: $dark-text;
  }

  .form-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    border: $primary;

    input {
      cursor: text;
    }

    select {
      cursor: pointer;
    }
  }

  .submit-btn {
    transition: .1s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-text;
    background-color: white;
    font-size: 18px;
    border: .5px solid $dark-text;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: $secondary;
    }
  }
}