@import '../../Utilities/_Variables.scss';


.overlay {
    @include popup;
    background-color: rgba(33,33,33, 0.9);
    width: 100vw;
    height: 190vh;

    .popup {
      padding: 30px 50px;
      margin-top: 50%;
      border: 2px solid $primary;
      background: $text-bg;
      color: $primary;
    }
  }