@import '../../Utilities/_Variables.scss';

.trail {
  transition: box-shadow .3s;
  text-decoration: none;
  color: $dark-text;
  margin: 10px auto;
  width: 44%;
  min-height: 300px;
  max-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  background-position: center;
  flex-wrap: wrap;
  min-width: 280px;

  &:hover {
    box-shadow: $heavy-card-shadow;
    cursor: pointer;
  }

}

.widget-ratings {
  width: 50%;
}

.data {
  display: flex;
  background: $text-bg;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.description {
  width: 100%;
}

.user-actions {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  background-color: $text-bg;

  div {
    display: flex;
    align-items: center;
    text-align: center;

    i {
      margin: 5px
    }
  }

  .hiked {
    justify-content: flex-end;
  }

  .trail-name {
    justify-content: center;
  }
}