@import '../../Utilities/_Variables.scss';

i {
  font-size: 30px;
  margin: 25px;
  color: $dark-accent;

  &:hover {
    color: $light-accent;
    cursor: pointer;
  }
}

.side-bar-container {
  position: absolute;
}


.bar {
  background: $light-text;
  color: $dark-accent;
  text-align: center;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.7s;
  position: fixed;
  box-shadow: 0 0 11px rgba(33,33,33,.6);

  i {
    position: absolute;
    top: 0;
    right: 0;
  }
  

  h1 {
    font-size: 30px;
    margin: 0;
  }
}

.show-nav {
  width: 250px;
  padding: 20px;
  margin: 15px 0 0 15px;
}